html, body {
    font-family: "Roboto", sans-serif;
    margin:auto;
    height: 100%;
    

}

/* BEGIN SECTION 1 (+HEADER)*/


.container1 {
    background-color: #1f2937;
    padding: 0 200px 150px 200px;

}


.header {

    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;

}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
    margin:0;
    color: #e5e7eb;
    font-size: 15px;
    
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    margin-bottom: 0;
    
    
}

.subtext {
    margin-top: 0px;
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
}

button1 {
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    width: 100px;
    text-align: center;
    
}

.headerlogo { 
    font-size: 24px;
    color: #f9faf8;
}


.herobutton {
    display:flex;
    flex-direction: column;
    width: 400px;
}

.imgherobutt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* END SECTION 1 (+HEADER)*/


/* BEGIN SECTION 2*/

.title_section2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
}

.info {
    text-align: center;
    width: 200px;
}


img {
    border-radius: 15px;
}

/* END SECTION 2*/

/* BEGIN SECTION 3*/

.container3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:10px;
    padding:150px 300px 150px 300px;
    
}
.quote {
    font-size: 36px;
    font: "light italic";
    color: #1f2937;
}
.thor {
    margin-top: 10px;
    font-weight: bold;
    text-align: right;
}

/* END SECTION 3*/

/* BEGIN SECTION 4*/


.container4 {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3882f6;
    margin: 75px 125px 75px 125px;
    padding: 20px 100px 20px 100px;
    

}

.callsignup {
    color: white;
    display: flex;
    flex-direction: column;
    gap:5px;
    
}

.call {
    margin-bottom:0;
    
}

.signup {
    margin-top: 0;
}


button2 {
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882f6;
    border: 2px solid white;
    color: white;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: -1;
}

/* END SECTION 4*/

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}