body {
    font-family: "Roboto", sans-serif;
    
}


.header {
    background-color: #1f2937;
    color:#f9faf8;
    font-size: 24px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.heromain {
    color: #f9faf8;
    background-color: #1f2937;
    font-size: 48px;
    font-weight:800;
}

.herosub, ul {
    color: #e5e7eb;
    background-color: #1f2937;
    font-size: 18px;
}

.button1 {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    text-align: center;
    padding: 8px 16px;
    border-radius: 8px;
    width: 80px;
}

.cont1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.no1 {
    padding: 20px;
    background-color: #1f2937;
    display: flex;
}

